#root, body, html {
    height: 100%;
    margin: 0;
}

.home-back {
    background: url(./assets/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.exp-back {
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./assets/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.App{
    font-family: sans-serif;
    font-weight:100;
    font-size:30px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 10px;
    /* min-height:100vh; */
    
  }


.events-back {
    background:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(./assets/bg.png);
    background-size: 100% 100%;
    background-repeat: repeat;
}

